  <script id="gameTemplate" type="text/x-jquery-tmpl">
		{{each val}}
		 	<div class="numbers" data-value=${$value}><span class="numbervalue">${$value}</span></div>
   		{{/each}}
  </script>

<div id="content"></div>
